.about-me{
  max-width: 1200px;
  min-height: calc(100vh - 140px);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 10px;

  img{
    width: 190px;
    margin-left: 20px;
    margin-right: 50px;
  }

  .about-content{
    width: 600px;
  }

  h1{
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.1) 2px 2px 2px;
  }

  p{
    font-size: 20px;
    line-height: 1.35;
    margin-bottom: 10px;
    text-shadow: rgba(0, 0, 0, 0.05) 2px 2px 2px;
  }
}