.project-1{

  .guidr-img{
    border-radius: 15px;
  }

  button{
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #a1abf3;
    outline: none;

    a{
      color: white;
      text-decoration: none;
    }
  }
  .view-site{
    margin-right: 10px;
  }
}
