.project{
  background-color: #5c6bc0;
  border-radius: 15px;
  margin: 40px;
  padding: 10px 0;
  color: white;;

  .guidr-img{
    border-radius: 15px;
  }

  button{
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #8e99f3;
    outline: none;

    a{
      color: white;
      text-decoration: none;
    }
  }

  .view-site{
    margin-right: 10px;
  }
}
